<style>
  li p {
    display: inline-block;
    margin: 0;
  }
</style>

<div class="row">

  <div class="col-lg-10">
    <% if @lab && @lab['name'] %>
        <h2><%= @lab['name']%></h2>
    <% end %>
    <h3>Modules</h3>
    <ol>
      <% @modules.each_key do |mod| %>
          <% next unless @active_modules.include?(mod) %>
          <li><a href="/<%= @id %>/<%= mod %>"><%= markdown(@modules[mod]['name']) %></a></li>
      <% end %>
    </ol>
    <p>
      <a href="/<%= @id %>/_complete">All modules in single page</a>
    </p>
  </div>

  <div class="col-lg-6">
    <% if @lab && @lab['logo'] %>
      <p><img src="/logos/<%= @lab['logo']%>" alt="OpenShift Labs"></p>
    <% end %>
  </div>

</div>
