<style>
  li p {
    display: inline-block;
    margin: 0;
  }
</style>

<div class="row">

  <div class="col-lg-6">
    <h2>Lab contents</h2>
    <ol>
      <% @modules.each_key do |mod| %>
          <% next unless @active_modules.include?(mod) %>
          <li><a href="/<%= @id %>/<%= mod %>"><%= settings.markdown.render(@modules[mod]['name']) %></a></li>
      <% end %>
    </ol>
    <p>
      <a href="/<%= @id %>/complete">All modules in single page</a>
    </p>
  </div>

  <div class="col-lg-6">
    <p><img src="/logos/<%= @id %>.png" alt="OpenShift Labs" onError="this.style.display = 'none';"></p>
  </div>

</div>